body, html {
  font-family: Arial;
  font-size: 13px;
  line-height: 27px;
  padding: 0;
  margin: 0;
}

.container {
  width: 940px;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  border: 1px solid #000;
}

/*-------------------main-nav--------------------*/

.main-nav {
  background-color: #40c7c3;
  background-image: linear-gradient(to top, rgba(46, 135, 133, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
}

.main-nav__list {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__list-item {
  display: inline-block;
}

.main-nav__list-link {
  display: block;
  padding: 0 10px;
  font-family: PFSquareSansPro;
  text-shadow: -0.7px -0.7px 0 rgba(231, 136, 25, 0.23);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.main-nav__list-item:hover {
  background-color: #ffac35;
  background-image: linear-gradient(to top, rgba(217, 101, 15, 0.17) 0%, rgba(217, 101, 15, 0.17) 13%, rgba(255, 255, 255, 0.17) 82%, rgba(255, 255, 255, 0.17) 100%);
}

.main-nav__language {
  float: right;
}

.language {
  list-style: none;
  padding: 0;
  margin: 0;
}

.language__rus,
.language__eng {
  display: inline-block;
  padding: 0 5px;
  font-family: PFSquareSansPro;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
}
